/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('./assets/img/bg-tablet-pattern.svg');
  background-repeat: no-repeat;
  background-size: 1000px;
  background-position: 50% -25%;
}

#cta {
  background-image: url('./assets/img/bg-simplify-section-desktop.svg');
  background-repeat: no-repeat;

}


.hamburguer {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.5s;
  position: relative;
}

.hamburguer-top,
.hamburguer-middle,
.hamburguer-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburguer-middle {
  transform: translateY(7px);
}

.hamburguer-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px)
}

.open .hamburguer-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburguer-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}

.open .hamburguer-middle{
  display: none;
}
